/*FOOTER*/
footer {
    background-color: #6B8E23; /* Fondo en verde albahaca */
    color: #fff; /* Texto en color blanco para contrastar con el fondo */
    padding: 20px; /* Ajusta el espacio interno del footer según tus necesidades */
    text-align: center; /* Centra el texto dentro del footer */
    margin-top: auto
}