/* HISTORIA Y CULTURA SOBRE LA PIZZA */
.historiaPizza1,.historiaPizza2,.historiaPizza3, .tituloHistoria {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    text-align: center;
    font-size: x-large;
    font-style: inherit;
    margin-bottom: 70px;
        color: #F5DEB3;
    
}