
/* NOSOTROS */

.contenedorNuestraHistoria {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente los elementos */
    justify-content: center; /* Centra verticalmente los elementos */
    text-align: center; /* Centra el texto dentro de cada elemento */
    margin: auto;
}
.nuestraHistoria, .nuestraHistoria2, .nuestraHistoria3 {
    color: #F5DEB3;
    font-size: 20px;
     margin-bottom: 70px





    

}